.product_container {
    background-color: rgb(235, 231, 231);
    padding: 50px;
}

.product_imgs {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.imgdiv {
    display: flex;
    align-items: center;
}

.carddiv {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgb(20, 183, 183) !important;
}

.star_cls {
    color: red;
}

.product_btncls {
    display: flex;
    justify-content: space-evenly;
}

.price_clr {
    color: rgb(20, 183, 183);
}

.productname {
    color: rgb(30, 30, 154);
}
.product_main{
    width: 60%;
    /* display: flex;
    justify-content: space-evenly; */
    margin: auto;
}
.product_main1{
    /* column-gap: 1; */
    display: flex;
    /* gap: 3%; */
    /* row-gap: 1; */
    justify-content: space-evenly;
    /* align-items:flex-end; */
}